<div class="row">
    <div class="col-xs-12 col-lg-12">
        <form  (ngSubmit)="onAdd(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input name="nameInput" type="text" id="name" required ngModel #nameInput="ngModel" class="form-control">
                    <span class="help-block" *ngIf="nameInput.invalid && nameInput.dirty">Please enter the Name of the ingredient</span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amountInput" id="amount" ngModel #amountInput="ngModel" required min=1 ngModel class="form-control">                   
                    <span class="help-block" *ngIf="amountInput.invalid && amountInput.dirty">Please enter atleat 1 quantity</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-12 ">
                    <button [disabled]="f.invalid" class="btn btn-success mr-2" type="submit">Add</button>
                    <button [disabled]="f.invalid" class="btn btn-danger mr-2 " (click)="onDelete(f)" type="button">Delete</button>
                    <button class="btn btn-primary mr-2" (click)="onReset(f)" type="button">Clear</button>
                </div>
                <span class="help-block" *ngIf="errorMsg">{{errorMsg}}</span>
            </div>
        </form>
    </div>
</div>